{% extends 'base.html' %}

{% block content %}
<div class="row">
   {{cart.user.username}}


   <table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Qty</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     {% for item in cart.cart_items.all  %}
    <tr>
      <td>{{ item.product.name }}</td>
      <td>{{ item.qty }}</td>
      <td>
         <form method="post" action="{% url 'delete_cart_item' item.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
         </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>


</div>
{% endblock %}